@import "../utils/css/variables.css";
.BottomNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.BottomNavigation__buttons-wrapper {
  display: flex;
  gap: 10px;
}

.BottomNavigation__buttons {
  cursor: pointer;
  background-color: rgba(var(--primary-color-rgb), 0.2);
  border-radius: 50%;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 150%;
}

.BottomNavigation__buttons:hover {
  color: white;
  background-color: var(--primary-color);
}

.BottomNavigation__buttons[disabled]:hover {
  color: initial;
  background-color: rgba(var(--primary-color-rgb), 0.2);
  opacity: 0.3;
}

.BottomNavigation__buttons[disabled] {
  opacity: 0.3;
}
