@import url("../utils/css/variables.css");

.EmployeesTable-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.EmployeesTable {
  width: 100%;
  border-spacing: 0;
}

.EmployeesTable__heading-row {
  background-color: var(--primary-color);
  color: white;
}

.EmployeesTable__header {
  min-width: fit-content;
  padding: 20px 0px;
  /* flex: 1; */
}

.EmployeesTable__content-row:nth-of-type(2n + 1) {
  background: #eeeeee;
}

.EmployeesTable__cell {
  padding: 20px 0px;
  text-align: center;
  text-transform: capitalize;
}
