.Modal {
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.Modal[open] {
  display: flex;
}

.Modal__content-wrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 8px;
  background: #fff;
  padding: 25px 25px 15px;
  text-align: center;

  max-height: 300px;
  max-width: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Modal__icon {
  animation: fall-in 0.75s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  color: white;
  padding: 15px;
  position: relative;
  margin: 0 auto;
  margin-top: -75px;
  background: #4caf50;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.Modal__text-content {
  font-size: 150%;
}

.Modal__ok-button {
  transition: all 0.1s ease-in-out;
  border-radius: 30px;
  margin-top: 15px;
  width: 80%;
  max-width: 150px;
  background: transparent;
  color: #4caf50;
  border-color: #4caf50;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.Modal__ok-button:hover {
  color: #fff;
  background: #4caf50;
  border-color: transparent;
}

@keyframes fall-in {
  0% {
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
